.top-ribbon {
  width:100%;
  height:75px;
  left: 0em;
  top: 0em;
  z-index: 4;
}
#banner-title {
  position: absolute;
  top: 30px;
  right: 20px;
}
#bannerLogo {
    position: relative;
    left: 5;
    top: -66;
    padding-left: 5px;
    height: 55px;
    width: 150px;
}
#sve-loading {
  display:none;
  position: absolute;
  top: 50vh;
  right: 50vw;
}
#banner {
  width: 100%;
  height: 100%;
}
html body {
  display: flex;
  margin: 0;
  font-size: small;
  font-family: 'Rubik', sans-serif;
  color: white;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  width: 100%;
}
.collapsing-button {
  cursor: pointer;
}
.clickableSpan {
  cursor: pointer;
}
.shepherd-button {
  margin: 5px !important;
}